<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="utf-8">
    <title>File System</title>
    <link rel="stylesheet" href="btns.css">
    <link rel="stylesheet" href="flexblocks-responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"  href="stylish.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
    <script src="file.js"></script>
    <script src="app.js"></script>

    <script src="three.js"></script>
    <script src="OBJLoader.js"></script>
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

</head>
<body ng-app="files">
  <div ng-controller="fileCtrl">
    <div  class="col center gap-3" ng-hide="login">
    <h1> REPO </h1>
    <label for="username"> Username </label>
    <input id="username" type="text" ng-model="user.userName">
    <label for="password"> Password </label>
    <input id="password" type="password" ng-model="user.pass">
    <button class="btn btn--m btn--white" ng-click="loginUser($event)">Login</button>
    <a href="/register">Register</a>
    </div>
  <!--<div ng-repeat="file in files" ng-show="login">-->
    <!--{{file.name}} {{file.size}}-->
  <!--</div>-->
    <div ng-show="login" class="row center justify">
      <div class="col">
        <button class="btn btn--m btn--gray" ng-click="toggleUpload()">Upload File</button>
        <div ng-show="uploadToggle">
          <input name="file" type="file" file />
          {{file.name}} {{file.type}} {{file.size / 1000}} KB
          <br>
          Name of model:
          <input type="text" ng-model="modelName">
          <br>
          Description of model:
          <input type="text" ng-model="modelDesc">
          <br>
          Comma separated tag list:
          <input type="text" ng-model="modelTags">
          <button class="btn btn--gray" ng-click="uploadFile($event)">Upload</button>
        </div>
        <br>
        <button class="btn btn--m btn--gray" ng-click="toggleFiles();">View Models</button>
	<div class="row gap-3" ng-show="viewFiles">
          <div class="fileBox" ng-click="toggleDown();toggleFiles();retrieveFileObj(file)" ng-repeat="file in files">
            <p>Name of model: {{file.modelName}}</p>
            <p>Model Description: {{file.modelDesc}}</p>
            <p>Model Tags: {{file.modelTags}}</p>
            <p>Model Size: {{file.size / 1000}} KB</p>
          </div>
	</div>

      </div>



      <div class="col center">
	<h1> REPO </h1>
	<div class="hero-unit" ng-show="viewDown">
          <h2>Model Display</h2>

          <p>Your model will be loaded here</p>
	  <div ng-show="viewDown">
            <select ng-model="fileDown" ng-options="file.modelName for file in files"></select>
            <button class="btn btn--s btn--gray" ng-click="retrieveFile()">Retrieve File</button>
	    <button class="btn btn--s btn--gray" ng-click="togglePermissions()">Share by Username</button>
            <div ng-show="viewPermissions">
              <select ng-model="filePerm" ng-options="file.modelName for file in files | filter:{owner: currentUser}"></select>
              <input type="text" ng-model="userPerm">
              <button class="btn btn--s btn--gray" ng-click="addPerm()">Share</button>
            </div>
          </div>
          <tjs-model-viewer assimp-url="assimpModelUrl"></tjs-model-viewer>
        </div>
      </div>


      <div class="col">
        <button class="btn btn--m btn--gray" ng-click="logout($event)">Logout</button>
      </div>
    </div>
</div>
</body>
</html>
